<!-- the toast -->
<div class="cart_toast-container">
    <article class="toast message cart-toast">
        <div class="message-header">
            <p>Cart</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body">
            <p class="">{{ message }}</p>
        </div>
        <div>
            {% if grand_total and not on_profile_page %}
            <p class="py-1">({{ book_count }}) books in cart</p>


            <div class="cart-toast-item-container">
                {% for item in cart_items %}
                <div class="cart-image">
                    <img class="" src="{{ item.book.image.image.url }}">
                </div>
                <p class=""><strong>{{ item.book.title }}</strong></p>
                {% endfor %}
            </div>

            <div>
                <p class="">
                    <strong>Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="">€{{ total|floatformat:2 }}</span></strong>
                </p>
            </div>
            <div>

            </div>



            {% if free_delivery_delta > 0 %}
            <p class="">
                Spend <strong>€{{ free_delivery_delta }}</strong> more to get free next day delivery!
            </p>
            {% endif %}
            <a href="{% url 'view_cart' %}" class="button m-2">
                <span class="">Go To Secure Checkout</span>
                icon
            </a>
            {% endif %}
        </div>

    </article>
</div>
