<div class="popup-content error">
    <svg class="popup-status" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" transform: ;msFilter:;">
        <path
            d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm4.207 12.793-1.414 1.414L12 13.414l-2.793 2.793-1.414-1.414L10.586 12 7.793 9.207l1.414-1.414L12 10.586l2.793-2.793 1.414 1.414L13.414 12l2.793 2.793z">
        </path>
    </svg>
    <div class="popup-text">
        <h3>Success!</h3>
        <p>{{ message }}</p>
    </div>
    <div>
        <button class="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform: ;msFilter:;">
                <path
                    d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                </path>
            </svg>
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".close").on("click", function () {
            $(".popup-content").addClass("visibility");
        });

        $(".popup-content").show();
        setTimeout(function () {
            $(".popup-content").fadeOut("slow");

        }, 1600);
    })
</script>
