{% extends 'shop_app/base.html' %}
{% block title %}- {{ book.title }}{% endblock %}

{% load static %}
{% block content %}

<section class="my-5">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div class="column">
                <div class="cover">
                    {% if book.image %}
                    <figure class="image detail-cover">
                        <img class="cover-img" src="{{ book.image.image.url }}" alt="book cover">
                    </figure>
                    {% else %}
                    <figure class="image detail-cover">
                        <img class="cover-img" src="{{ MEDIA_URL }}default_covers/no_cover.png" alt="book cover">
                    </figure>
                    {% endif %}

                </div>
            </div>
            <div class="column">
                <h4 class="title is-5 pb-2">{{ book.title }}</h4>
                <p class="subtitle is-6 mb-2">(Author) {{ book.author_names }}</p>
                <p class="subtitle is-6 mb-4 author-ellipsis has-text-grey-dark">{{ book.genre_name }}</p>
                <div class="card-text-edit-del">
                    <p class="card-price has-text-danger is-size-5 pb-5">
                        <strong>
                            €{{ book.price }}
                        </strong>
                    </p>
                    <div class="ml-4">
                        {% if user.is_superuser %}
                        <a class=" mr-1" href="{% url 'edit_book' book.id %}">
                            Edit
                        </a>
                        <a class=" has-text-danger" href="{% url 'delete_book' book.id %}">
                            Delete
                        </a>
                        {% endif %}
                    </div>
                </div>
                <form class="form add-to-cart-form" action="{% url 'add_to_cart' book.id %}" method="POST">
                    {% csrf_token %}
                    <label>Quantity</label>

                    <div class="field has-addons input-group pt-1">
                        <span class="control input-group-prepend">
                            <button class="button quantity-btn is-small is-info decrement-qty"
                                data-item_id="{{ book.id }}" id="decrement-qty_{{ book.id }}">
                                <svg class="btn-svg-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" transform: ;msFilter:;">
                                    <path d="M5 11h14v2H5z"></path>
                                </svg>
                            </button>
                        </span>
                        <div class="control">
                            <input class="input qty_input is-small" type="number" name="quantity" value="1" min="1"
                                max="99" data-item_id="{{ book.id }}" id="id_qty_{{ book.id }}">
                        </div>
                        <span class="control input-group-append">
                            <button class="button quantity-btn is-small is-info increment-qty"
                                data-item_id="{{ book.id }}" id="increment-qty_{{ book.id }}">
                                <svg class="btn-svg-white" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" transform: ;msFilter:;">
                                    <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                                </svg>
                            </button>
                        </span>
                    </div>
                    <div>
                        <input type="submit" class="button is-link is-fullwidth mt-4" value="Add to Cart">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="columns is-multiline pt-5">
            <div class="column is-12 is-6-desktop p-4">

                <h3 class="subtitle is-3">Book Description</h3>
                <!-- <button class="delete" aria-label="delete"></button> -->
                <p>{{ object.description }}</p>

            </div>
            <div class="column">
                <h3 class="subtitle is-3">Details</h3>
                <p><strong>Number fo Page:</strong> {{ object.pages }}</p>
                <p><strong>Publisher:</strong> {{ object.publisher }}</p>
                <p><strong>Publication date:</strong> {{ object.publication_date }}</p>
                {% if object.isbn %}
                <p><strong>ISBN:</strong> {{ object.isbn }}</p>
                {% else %}
                <p>No ISBN found</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{{ block.super }}
<script>
    // update item in cart
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // remove item in cart
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken }

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })

</script>
{% include 'includes/quantity_input_script.html' %}











{% endblock content %}
