{% extends 'shop_app/base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="columns is-centered">
        <div class="column is-8">
            <h2 class="subtitle is-3 mb-2">Error 500</h2>
            <p>The HTTP status code 500 is a generic error response. It means that the server encountered an unexpected
                condition that prevented it from fulfilling the request. This error is usually returned by the server
                when
                no other error code is suitable.
            </p>
            <a class="button shopping-btn is-link is-outlined mt-4" href="{% url 'home' %}">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform:
                        ;msFilter:;">
                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                    </svg>
                </span>
                <span>
                    Return to Shop
                </span>
            </a>
        </div>
    </div>
</section>
{% endblock content %}
