{% extends 'shop_app/base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="columns is-centered">
        <div class="column is-8">
            <h2 class="subtitle is-3 mb-2">Error 400</h2>
            <p> The HyperText Transfer Protocol (HTTP) 400 Bad Request response status code indicates that the server
                cannot
                or will not process the request due to something that is perceived to be a client error
            </p>
            <a class="button shopping-btn is-link is-outlined mt-4" href="{% url 'home' %}">
                <span class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform:
                        ;msFilter:;">
                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                    </svg>
                </span>
                <span>
                    Return to Shop
                </span>
            </a>
        </div>
    </div>
</section>
{% endblock content %}
