<!-- newsletter-section -->


<section class="section newsletter-section has-background-light">
    <div class="container has-text-centered">
        <h3 class="title is-2">Newsletter</h3>
        <p class="subtitle is-5">Find out about the newest books and offers by joining our newsletter</p>
        <div class="field is-grouped newsletter-form">
            <p class="control is-expanded">
                <input class="input is-medium" type="email" name="email" placeholder="Enter Email to Subscribe">
            </p>
            <p class="control">
                <a class="button is-link is-medium">
                    Sign up
                </a>
            </p>
        </div>



        <!-- <div class="mt-6">
            <div class="field">
                <div class="control">
                    <input class="input is-medium" type="email" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-link is-outlined is-medium">
                        Submit
                    </button>
                </p>
            </div>
        </div> -->
    </div>
</section>




<!-- footer -->
<footer class="footer has-background-light">





    <!-- <div class="hero-button hero-button-desktop mt-6">
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" type="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-white is-medium hero-button">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div> -->






    <div class="content has-text-centered">
        <p>
            <strong>BookShop</strong> by <a href="https://github.com/dmcginley" target="_blank">Donnchadh Mc Ginley</a>.
            The
            source code is
            licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
