{% extends 'shop_app/base.html' %}
{% block title %}- Search Genre{% endblock %}

{% load static %}

{% block content %}


<section class="section books-section">

    {% for book in book %}
    {% if forloop.first %}
    <h2 class="section-title subtitle is-2 has-text-centered has-text-left-tablet">{{ book.genre_name }}</h2>
    {% endif %}
    <div class="card index-card">
        <div>
            {% if book.image %}
            <figure class="image-cover-index mb-4">
                <a class="cover-index-link" href="{% url 'book_detail' book.id %}">
                    <img class="cover-img" src="{{ book.image.image.url }}" alt="book cover" />
                </a>
            </figure>
            {% else %}
            <figure class="image-cover-index mb-4">
                <a class="cover-index-link" href="{% url 'book_detail' book.id %}">
                    <img class="cover-img" src="{{ MEDIA_URL }}no_cover.png" alt="book cover" />
                </a>
            </figure>
            {% endif %}
            <div class="card-text">
                <h5 class="title is-5 title-ellipsis">{{ book.title }}</h5>
                <h6 class="subtitle is-6 author-ellipsis mb-1">{{ book.author_names }}</h6>
                <!-- <p class="mb-4">{{ book.rating }}</p> -->
                <p class="card-price is-warning pb-5">
                    <strong>
                        €{{ book.price }}
                    </strong>
                </p>
            </div>
        </div>
        <div class="index-content">
            <div class="media">
                <div class="media-content">
                    <form class="form add-to-cart-form" action="{% url 'add_to_cart' book.id %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" name="quantity" value="1" min="1" max="99" date-item_id="{{ book.id }}"
                                id="id_qty{{ book.id }}" />
                        </div>
                        <div>
                            <input type="submit" class="button is-link is-fullwidth" value="Add to Cart" />
                            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock content %}
