{% extends 'shop_app/base.html' %}
{% block title %}- {{ page_title }}{% endblock %}

{% load static %}

{% block content %}

<section class="section books-section">
    <h2 class="section-title subtitle is-3 has-text-centered has-text-left-tablet">{{ page_title }}</h2>
    {% for book in books %}
    <div class="card index-card">
        <div>
            {% if book.image %}
            <figure class="image-cover-index mb-4">
                <a class="cover-index-link" href="{% url 'book_detail' book.id %}">
                    <img class="cover-img" src="{{ book.image.image.url }}" alt="book cover" />
                </a>
            </figure>
            {% else %}
            <figure class="image-cover-index mb-4">
                <a class="cover-index-link" href="{% url 'book_detail' book.id %}">
                    <img class="cover-img" src="{{ MEDIA_URL }}default_covers/no_cover.png" alt="book cover" />
                </a>
            </figure>
            {% endif %}
            <div class="card-text">
                <h5 class="title is-5 title-ellipsis">{{ book.title }}</h5>
                <h6 class="subtitle is-6 author-ellipsis mb-1">{{ book.author_names }}</h6>
                <!-- <h6 class="subtitle is-6 author-ellipsis mb-1">{{ book.date_added }}</h6> -->

                <!-- <p class="mb-4">{{ book.rating }}</p> -->
                <p class="card-price is-warning pb-5">
                    <strong>
                        €{{ book.price }}
                    </strong>
                </p>
            </div>
        </div>
        <div class="index-content">
            <div class="media">
                <div class="media-content">
                    <form class="form add-to-cart-form" action="{% url 'add_to_cart' book.id %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <input type="hidden" name="quantity" value="1" min="1" max="99" date-item_id="{{ book.id }}"
                                id="id_qty{{ book.id }}" />
                        </div>
                        <div>
                            <input type="submit" class="button is-link is-fullwidth" value="Add to Cart" />
                            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{# pagination #}
<section class="p-6">
    {% if books.has_other_pages %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if books.has_previous %}
        <a class="pagination-previous" href="?page=1">First Page</a>
        <ul class="pagination-list">
            <li><span class="pagination-ellipsis">&hellip;</span></li>
            {% else %}
            <a class="pagination-previous is-disabled" disabled href="?page=1">First Page</a>
            <ul class="pagination-list">
                <!-- <li><span class="pagination-ellipsis">&hellip;</span></li> -->
                {% endif %}
                {% for num in books.paginator.page_range %}
                {% if books.number == num %}
                <li><a class="pagination-link is-current" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > books.number|add:'-3' and num < books.number|add:'3' %}
                <li><a class="pagination-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}
                {% if books.has_next %}
                <li><span class="pagination-ellipsis">&hellip;</span></li>
            </ul>
            <a class="pagination-next" href="?page={{ books.paginator.num_pages }}">Last page</a>
            {% else %}
        </ul>
        <a class="pagination-next is-disabled" disabled href="?page={{ books.paginator.num_pages }}">Last page</a>
        {% endif %}
    </nav>
    {% endif %}
</section>
{% endblock content %}
