<div class="hero hero-color is-halfheight">
    <div class="banner">
        <p>Free delivery on orders over €{{ free_delivery_threshold }}</p>
    </div>
    <div class="sub-grid hero-content">
        <div class="hero-body">

            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        <span class="book-h1">Book</span>Shop
                    </h1>
                    <p class="subtitle">
                        Discover your book for the summer
                    </p>

                    <a class="button is-link is-medium">Button</a>
                </div>
                <div class="column">
                    <div class="book">
                        First column
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
