{% load static %}

<div class="hero hero-color is-halfheight">
    <div class="banner">
        <p>Free delivery on orders over €{{ free_delivery_threshold }}</p>
    </div>
    <div class="sub-grid hero-content">
        <div class="hero-body">

            <div class="columns">
                <div class="column hero-text-area has-text-centered has-text-left-tablet">
                    <h1 class="title">
                        <span class="book-h1">Book</span>Shop
                    </h1>
                    <p class="subtitle">
                        Discover your book for the winter
                    </p>

                    <a class="button is-white is-medium hero-button hero-button-desktop mt-6"
                        href="{% url 'book_detail' 15 %}">Order
                        Today</a>

                </div>
                <div class="column has-text-centered">
                    <div class="best-seller-book-container">



                        <!-- {% for random_book in random_book %}
                        <img class="cover-img" src="{{ random_book.image.image.url }}" alt="book cover">
                        {{ random_book.title }}
                        {{random_book}}
                        {% endfor %} -->

                        <figure class="">
                            <img class="best-seller-book-image"
                                src="{{ MEDIA_URL }}default_covers/book_of_the_month.webp" alt="book cover">
                        </figure>
                        <a class="button is-white is-medium mt-6 hero-button hero-button-mobile"
                            href="{% url 'book_detail' 15 %}">Order
                            Today</a>
                        <p class="pt-4"><strong>Book of the month,</strong> voted by out staff</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
