{% load static %}

<nav class="navbar is-transparent  is-mobile is-fixed-top">
    <div class="navbar-brand pl-2">
        <a class="navbar-item" href="{% url 'home' %}">
            <img src="{% static 'shop_app/images/book_logo.svg' %}"" alt="">
            <span class=" pl-2">Book<strong>Shop</strong>
            </span>
        </a>
        <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">

        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <span class="navbar-link">
                    Genre
                </span>
                <div class="navbar-dropdown is-boxed">
                    {% for g in genres %}
                    <a class="navbar-item" href="/search/{{ g.slug }}">{{ g.name|title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <span class="navbar-link">
                    Sort by
                </span>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="{% url 'home' %}?sort=price&direction=asc">Price (Low to
                        High)</a>
                    <a class="navbar-item" href="{% url 'home' %}?sort=price&direction=desc">Price (High to
                        Low)</a>
                </div>
            </div>
        </div>

        {% comment %}
        <!-- <div class="navbar-item search-bar-container">
    <form class="field has-addons search-bar" action="{% url 'home' %}" method="GET">
        <div class="control is-expanded">
            <input class="input" type="text" name="q" placeholder="Find a book title, author, ISBN..." />
        </div>
        <div class="control">
            <button class="button is-info" type="submit">
                Search
            </button>
        </div>
    </form> 
</div> -->
        {% endcomment %}



        <div class="navbar-item search-bar-container">




            <form class="field has-addons search-bar" action="{% url 'book_search' %}" method="GET">
                {% csrf_token %}
                <div class="control is-expanded">
                    <input class="input" type="text" name="searching" value="{{ searching }}"
                        placeholder="Find a book title, author, ISBN..." />
                </div>
                <div class="control">
                    <button class="button is-info" type="submit">
                        Search
                    </button>
                </div>
            </form>



        </div>


        <div class="navbar-end">

            <div class="navbar-item">
                <div class="">
                    <a href="{% url 'view_cart' %}" class="button nav-btn">
                        <div class="cart-svg-container">
                            <svg class="nav-icon cart-icon nav-icon-mr" xmlns="http://www.w3.org/2000/svg" width="28"
                                height="28" viewBox="0 0 24 24" transform: ;msFilter:;">
                                <path
                                    d="M21 4H2v2h2.3l3.28 9a3 3 0 0 0 2.82 2H19v-2h-8.6a1 1 0 0 1-.94-.66L9 13h9.28a2 2 0 0 0 1.92-1.45L22 5.27A1 1 0 0 0 21.27 4 .84.84 0 0 0 21 4zm-2.75 7h-10L6.43 6h13.24z">
                                </path>
                                <circle cx="10.5" cy="19.5" r="1.5"></circle>
                                <circle cx="16.5" cy="19.5" r="1.5"></circle>
                            </svg>
                            {% if book_count %}
                            <div class="book-counter">
                                {{ book_count }}
                            </div>
                            {% endif %}
                        </div>
                        <span class="pl-1">
                            <strong>Cart</strong>
                        </span>
                        <p class="cart-price pl-1">
                            {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                            {% endif %}
                        </p>
                    </a>
                </div>
            </div>


            <div class="navbar-item has-dropdown is-hoverable pr-2">
                <span class="navbar-link">
                    <svg class="dark-svg" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                        transform: ;msFilter:;">
                        <path
                            d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z">
                        </path>
                    </svg>
                </span>
                <div class="navbar-dropdown is-right is-boxed mr-4">

                    {% if user.is_superuser %}
                    <a class="navbar-item" href="{% url 'profile' %}">
                        Profile
                    </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="navbar-item has-text-danger" href="{% url 'add_book' %}">
                        Add book
                    </a>
                    <hr class="dropdown-divider">
                    <a class="navbar-item" href="{% url 'account_logout' %}">
                        Sign out
                    </a>
                    {% else %}
                    <a class="navbar-item" href="{% url 'account_login' %}">
                        Sign in
                    </a>
                    <a class="navbar-item" href="{% url 'account_signup' %}">
                        Register
                    </a>
                    {% endif %}

                </div>
            </div>


        </div>
    </div>


</nav>
