<nav class="genre-navbar">
    <div class="navbar-start">
        <div {% if request.path != '/' %} style="display: none;" {% endif %}>
            <h2 class="section-title subtitle is-2">New Books</h2>
        </div>
    </div>
    <div>
        <div class="dropdown is-right is-hoverable">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span>Genre</span>
                    <span class="icon is-small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform:
                            ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        {% for g in genres %}
                        <a class="navbar-item" href="/search/{{ g.slug }}">{{ g.name|title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown is-right is-hoverable pl-2">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                    <span>Sort by</span>
                    <span class="icon is-small">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform:
                            ;msFilter:;">
                            <path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path>
                        </svg>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <a class="navbar-item" href="{% url 'home' %}?sort=price&direction=asc">Price (Low to
                            High)</a>
                    </div>
                    <div class="dropdown-item">
                        <a class="navbar-item" href="{% url 'home' %}?sort=price&direction=desc">Price (High to
                            Low)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
