{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Donnchadh Mc Ginley" />
    {% endblock meta %}

    {% block corejs %}

    <!-- {# jQuery CDN #} -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

    {# stripe #}
    <script src="https://js.stripe.com/v3/"></script>


    {% endblock corejs %}

    {% block corecss %}

    {# Bulma css #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
    {# my css files #}
    <link rel="stylesheet" href="{% static 'shop_app/css/bulma_extra.css' %}" />
    <!-- old css -->
    <!-- <link rel="stylesheet" href="{% static 'shop_app/css/utilities.css' %}" /> -->
    {% endblock corecss %}

    {% block extra_css %}
    {% endblock %}
    <title>Shop app{% if title %} - {{ title }}{% endif %}</title>
  </head>

  <body class="has-navbar-fixed-top">


    {% if messages %}
    <div class="message-container">
      {% for message in messages %}


      {% with message.level as level %}
      {% if level == 50 %} {# cart #}
      {% include 'includes/toast/cart.html' %}
      {% elif level == 40 %} {# warning #}
      {% include 'includes/toast/warning.html' %}
      {% elif level == 30 %} {# danger #}
      {% include 'includes/toast/danger.html' %}
      {% elif level == 25 %} {# success #}
      {% include 'includes/toast/success.html' %}
      {% else %}
      {% include 'includes/toast/info.html' %}

      {% endif %}
      {% endwith %}
      {% endfor %}
    </div>
    {% endif %}


    {% include 'shop_app/navbar.html' %}
    <div class="wrapper">
      <main class="main-grid">
        {% block content %}{% endblock content %}
      </main>
    </div>
    {% include 'shop_app/footer.html' %}

    <!-- scripts -->

    {% block postloadjs %}

    {% endblock postloadjs %}



    <!-- script -->
    <script>
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });


        // toast script
        $(".delete").on("click", function () {
          $(".toast-container").addClass("visibility");
        });
        $(".delete").on("click", function () {
          $(".boast-container").addClass("visibility");
        });
        $(".toast-container").show();
        //     setTimeout(function () {
        //       $(".toast-container").fadeOut("slow");
        //     }, 1200);

      });

    </script>
  </body>

</html>
