{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Donnchadh Mc Ginley" />
    {% endblock meta %}

    {# jQuery CDN #}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'shop_app/css/utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'shop_app/css/style.css' %}" />
    <title>Shop app{% if title %} - {{ title }}{% endif %}</title>
  </head>

  <body class="main-grid">

    {% include 'shop_app/navbar.html' %}

    <main class="container-center">
      {% block content %}{% endblock content %}
    </main>



    <!-- script menu dropdown -->
    <script>
      $(document).ready(function () {
        $(".dropdown-btn").click(function () {
          $(".dropdown-menu").fadeToggle(300);
          $(".dropdown-menu").toggleClass("visible"); // Toggle dropdown menu
        });
        $(".dropdown-menu").on("mouseleave", function () {
          $(".dropdown-menu").fadeOut("300");
        });

        $(".mobile-btn").click(function () {
          $(".mobile-menu").fadeToggle(300);
          $(".mobile-menu").toggleClass("visible");

          if ($(".mobile-menu").is(":visible")) {
            $("body").addClass("fixed-position");
          }
        });

        $(".mobile-btn-close").click(function () {
          $(".mobile-menu").fadeToggle(300);
          // prevent body from moving when menu is open
          $("body").removeClass("fixed-position");
        })
        $("a").click(function () {
          $(".mobile-menu").fadeOut(300);
        })

      })
    </script>

  </body>

</html>
