{% extends 'shop_app/base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="columns is-centered">
        <div class="column is-8">
            <h2 class="subtitle is-3 mb-2">Error 500</h2>
            <p>The HTTP status code 500 is a generic error response. It means that the server encountered an unexpected
                condition that prevented it from fulfilling the request. This error is usually returned by the server
                when
                no other error code is suitable.
            </p>
        </div>
    </div>
</section>
{% endblock content %}
