{% extends 'shop_app/base.html' %}
{% load static %}
{% block content %}
<section class="section">
    <div class="columns is-centered">
        <div class="column is-8">
            <h2 class="subtitle is-3 mb-2">Error 404 Not Found</h2>
            <p> The HTTP 404 Not Found response status code indicates that the server cannot find the requested
                resource.
                Links that lead to a 404 page are often called broken or dead links and can be subject to link rot.
            </p>
        </div>
    </div>
</section>
{% endblock content %}
