{% extends 'shop_app/base.html' %}
{% load static %}

{% block content %}

<div class="mobile-banner">
    <p>Free delivery on orders over €{{ free_delivery_threshold}}</p>
</div>

<section class="hero">
    <div class="desktop-banner">
        <p>Free delivery on orders over €{{ free_delivery_threshold}}</p>
    </div>
    <div class="container flex height-100 text-center hero-content">
        <div class="hero-text">
            <h1>Shop Index page</h1>
            <p>small text as a helper Lorem ipsum, dolor elit. Pariatur earum quam magni.</p>
        </div>
        <img class="cover-img" src="{% static 'images/81Ppz1h5GZL.jpg' %}" alt="book cover">

        <a class="btn hero-btn mt-2" href="#">Click here</a>
    </div>
</section>

<section class="container grid-container">
    <h2 class="sub-title">Best Sellers</h2>
    {% for book in books %}
    <div class="gutter-3">
        <div class="card">
            <a class="cover" href="{% url 'book_detail' book.id %}">
                <img class="cover-img" src="{{ book.image.image.url }}" alt="book cover">
            </a>
            <div class="card-text">
                <h4>{{ book.title }}</h4>
                <h5>{{ book.author_names }}</h5>
                <p class="stock-color">€{{ book.price }}</p>
            </div>

            <form class="form add-to-cart-form" action="{% url 'add_to_cart' book.id %}" method="POST">
                {% csrf_token %}

                <div>
                    <input type="hidden" name="quantity" value="1" min="1" max="99" date-item_id="{{ book.id }}"
                        id="id_qty{{ book.id }}">
                </div>
                <div>
                    <input type="submit" class="btn primary-btn" value="Add to Cart">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock content %}
