{% extends 'shop_app/base.html' %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="hero-image">
        <img class="hero-image" src="{% static 'shop_app/images/Genshin-Impact-Lumine-and-Aether-fight.webp'%}" alt="">
    </div>
    <div class="container height-100 flex text-center">
        <div class="hero-text">
            <h1>Shop Index page</h1>
            <p>small text as a helper Lorem ipsum, dolor elit. Pariatur earum quam magni.</p>
        </div>
        <a class="btn mt-2" href="#">Click here</a>
    </div>

</section>
<section class="container grid-container">
    <h2 class="sub-title">Best Sellers</h2>
    {% for book in books %}
    <div class="gutter-3">
        <div class="card">
            <a class="cover" href="{% url 'book-detail' book.id %}">
                <img class="cover-img" src="{{ book.image.image.url }}" alt="book cover">
            </a>
            <div class="card-text">
                <h4>{{ book.title }}</h4>
                <h5>{{ book.author_names }}</h5>
                <p class="stock-color">€{{ book.price }}</p>
            </div>

            <form class="form add-to-cart-form" action="{% url 'add_to_cart' book.id %}" method="POST">
                {% csrf_token %}

                <div>
                    <input type="hidden" name="quantity" value="1" min="1" max="99" date-item_id="{{ book.id }}"
                        id="id_qty{{ book.id }}">
                </div>
                <div>
                    <input type="submit" class="btn" value="Add to Cart">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</section>


{% endblock content %}
