{% load static %}

<nav class="navbar main-navbar">
    <div class="main-nav-content container-center container">
        <div class="brand-container">
            <a class="nav-brand" href="{% url 'home' %}">Site</a>
            <span class="banner nav">
                <p>Free delivery on orders over €{{ free_delivery_threshold}}</p>
            </span>
        </div>

        <div class="nav-account-area">
            <a class="nav-btn cart" href="{% url 'view_cart' %}">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    transform: ;msFilter:;">
                    <path
                        d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921zM17.307 15h-6.64l-2.5-6h11.39l-2.25 6z">
                    </path>
                    <circle cx="10.5" cy="19.5" r="1.5"></circle>
                    <circle cx="17.5" cy="19.5" r="1.5"></circle>
                </svg>
                Cart
            </a>

            <div x-data="{ open: false,}" @mouseover="open = true" @mouseleave="open = false">
                <button class="nav-btn dropdown" @click="open = ! open">
                    <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        transform: scaleX(-1);msFilter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0,
                        mirror=1);">
                        <path
                            d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z">
                        </path>
                        <path
                            d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z">
                        </path>
                    </svg>
                    Account
                </button>

                <div class="dropdown-menu" x-show="open" @click.outside="open = false" x-transition>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'home' %}">Logout</a></li>
                        <li><a href="">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</nav>
<nav class="navbar secondary-navbar">
    <div class="secondary-nav-content container-center">
        <form action="{% url 'home' %}" method="GET">
            <input type="text" name="q" placeholder="Search by title, author, ISBN...">
            <button class="btn" type="submit">Search</button>
        </form>
    </div>
</nav>
<span class="mobile-banner nav">
    <p>Free delivery on orders over €{{ free_delivery_threshold}}</p>
</span>
