{% load static %}
{% include 'shop_app/offcanvas_menu.html' %}

<nav class="navbar main-navbar">

    <div class="main-nav-content container-center container">
        <div class="nav-btn-group">
            <a class="nav-brand btn-flex" href="{% url 'home' %}">
                <svg class="nav-icon nav-icon-mr" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                    viewBox="0 0 24 24" transform: ;msFilter:;">
                    <path
                        d="M18 2H6c-1.103 0-2 .897-2 2v18l8-4.572L20 22V4c0-1.103-.897-2-2-2zm0 16.553-6-3.428-6 3.428V4h12v14.553z">
                    </path>
                </svg>
                Book<strong>Shop</strong>
            </a>
        </div>



        <form class="primary-search-form" action="{% url 'home' %}" method="GET">

            <div>
                <input class="search-form-input" type="text" name="q" placeholder="Search by title, author, ISBN...">
                <!-- <button class="btn primary-btn" type="submit">Search</button> -->

                <svg class="nav-icon icon-search-svg" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                    viewBox="0 0 24 24" transform: ;msFilter:;">
                    <path
                        d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
                    </path>
                </svg>

            </div>

        </form>



        <div class="nav-btn-group">
            <a class="nav-btn car" href="{% url 'view_cart' %}">

                {% if book_count%}
                <div class="book-counter">
                    {{ book_count }}
                </div>
                {% endif %}
                <svg class="nav-icon nav-icon-mr" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                    viewBox="0 0 24 24" transform: ;msFilter:;">
                    <path
                        d="M21 4H2v2h2.3l3.28 9a3 3 0 0 0 2.82 2H19v-2h-8.6a1 1 0 0 1-.94-.66L9 13h9.28a2 2 0 0 0 1.92-1.45L22 5.27A1 1 0 0 0 21.27 4 .84.84 0 0 0 21 4zm-2.75 7h-10L6.43 6h13.24z">
                    </path>
                    <circle cx="10.5" cy="19.5" r="1.5"></circle>
                    <circle cx="16.5" cy="19.5" r="1.5"></circle>
                </svg>
                <span class="cart-text">
                    Cart
                </span>
                <p class="cart-price">
                    {% if grand_total%}
                    €{{ grand_total|floatformat:2 }}
                    {% endif %}
                </p>
            </a>
            <button class="mobile-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" transform:
                    ;msFilter:;">
                    <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                </svg>
            </button>
            <div class="dropdown">
                <button class="dropdown-btn dropdown-btn-account  nav-btn">
                    <svg class="nav-icon nav-icon-mr" xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                        viewBox="0 0 24 24" transform:
                        scaleX(-1);msFilter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);">
                        <path
                            d="M12 2A10.13 10.13 0 0 0 2 12a10 10 0 0 0 4 7.92V20h.1a9.7 9.7 0 0 0 11.8 0h.1v-.08A10 10 0 0 0 22 12 10.13 10.13 0 0 0 12 2zM8.07 18.93A3 3 0 0 1 11 16.57h2a3 3 0 0 1 2.93 2.36 7.75 7.75 0 0 1-7.86 0zm9.54-1.29A5 5 0 0 0 13 14.57h-2a5 5 0 0 0-4.61 3.07A8 8 0 0 1 4 12a8.1 8.1 0 0 1 8-8 8.1 8.1 0 0 1 8 8 8 8 0 0 1-2.39 5.64z">
                        </path>
                        <path
                            d="M12 6a3.91 3.91 0 0 0-4 4 3.91 3.91 0 0 0 4 4 3.91 3.91 0 0 0 4-4 3.91 3.91 0 0 0-4-4zm0 6a1.91 1.91 0 0 1-2-2 1.91 1.91 0 0 1 2-2 1.91 1.91 0 0 1 2 2 1.91 1.91 0 0 1-2 2z">
                        </path>
                    </svg>
                    Account
                </button>
                <div class="dropdown-menu dropdown-menu-account">
                    <a href="{% url 'home' %}">Home</a>
                    {%  if user.is_authenticated %}
                    <a href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                    <a href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</nav>



<nav class="navbar secondary-navbar">
    <div class="secondary-nav-content container-center">
        <form class="secondary-search-form" action="{% url 'home' %}" method="GET">
            <input class="search-form-input" type="text" name="q" placeholder="Search by title, author, ISBN...">
            <!-- <button class="btn primary-btn" type="submit">Search</button> -->
            <div class="icon-search-svg">
                <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"
                    transform: ;msFilter:;">
                    <path
                        d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
                    </path>
                </svg>
            </div>
        </form>
    </div>
</nav>
