{% load static %}

<div class="mobile-menu">
    <div class="mobile-btn-close-container">
        <button class="mobile-btn-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" transform: ;msFilter:;">
                <path
                    d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
                </path>
            </svg>
        </button>
    </div>
    <div>
        {#  <a href="{% url 'home' %}">Home</a> #}
        <a href="{% url 'view_cart' %}">cart</a>
        <a href="#">home page</a>
        <a href="#">home page</a>
        <a href="#">home page</a>
    </div>
</div>
