{% extends 'shop_app/base.html' %}
{% load static %}

{% block content %}
<section class="main-grid">
    <div class="container cart-section">
        <div class="title-and-sort">
            <h2 class="sub-title">Shopping Cart</h2>
        </div> {% if cart_items %}
        <div class="cart-items gutter-3">
            <div class="">

                <!-- {{ cart_items }} -->

                {% for item in cart_items %}
                <a class="cover" href="{% url 'book_detail' item.book.id %}">
                    <img src="{{ item.book.image.image.url }}" class="cover-small" alt="book cover">
                </a>
                <p>{{ item.book.title }}</p>
                <p>{{ item.quantity }}</p>
                <p>€{{ item.book.price }}</p>


                <form class="update-form" action="{%  url 'adjust_cart' item.item_id %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-prepend">
                            <button class="decrement-qty" data-item_id="{{ item_id }}" id="decrement-qty_{{ item_id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    transform: ;msFilter:;">
                                    <path d="M5 11h14v2H5z"></path>
                                </svg>
                            </button>
                        </span>
                        <input class="qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1"
                            max="99" date-item_id="{{ item_id }}" id="id_qty{{ item_id }}">
                        <span class="input-group-append">
                            <button class="increment-qty" data-item_id="{{ item_id }}" id="increment-qty_{{ item_id }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    transform: ;msFilter:;">
                                    <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                                </svg>
                            </button>
                        </span>
                    </div>
                </form>


                <a class="update-link">update</a>
                <a class="remove-item" id="remove_{{ item_id }}">remove</a>

                {% endfor %}
            </div>
            <div>
                <p>Total: €{{ total|floatformat:2 }}</p>
                <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                <p>Order Total: €{{ grand_total|floatformat:2 }}</p>
            </div>

            <a class="btn secondary-btn mt-2" href="{% url 'home' %}">continue shopping</a>
            <a class="btn primary-btn mt-2" href="">checkout</a>

        </div>
        {% else %}
        <p>Your cart is empty...</p>
        <a class="btn secondary-btn mt-2" href="{% url 'home' %}">continue shopping</a>
        {% endif %}
    </div>
</section>


{{ block.super }}
<script>
    // update item in cart
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // remove item in cart
    $('.remove-item').click(function (e) {
        console.log('hello1')
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `remove/${itemId}`;
        var data = { 'csrfmiddlewaretoken': csrfToken }
        console.log('hello2')

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% include 'includes/quantity_input_script.html' %}


{% endblock content %}
