{% extends 'shop_app/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop_app/css/cart.css' %}" />
{% endblock %}


{% block content %}

<section class="">

    <div class="">
        <h2 class="subtitle is-2">Shopping Cart</h2>
    </div>

    <div class="columns is-12">
        <div class="column">
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="columns">
                <div class="column">

                    <div class="">
                        <a class="cover cart-cover" href="{% url 'book_detail' item.book.id %}">
                            <figure class="cover-figure">
                                <img src="{{ item.book.image.image.url }}" class="cover-img cover-small"
                                    alt="book cover">
                            </figure>
                        </a>
                    </div>
                </div>
                <div class="column cart-text-grid">
                    <div class="cart-text-container">
                        <div>
                            <p class="title is-4">{{ item.book.title }}</p>
                            <p class="subtitle is-size-7">(Author) {{ item.book.author_names }}</p>
                            <p class="is-size-7">{{ item.book.genre }}</p>
                        </div>
                        <div>
                            <p class="card-price has-text-danger is-size-6 pb-3">€{{ item.book.price }}</p>
                            <form class="update-form" action="{%  url 'adjust_cart' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="field has-addons input-group">
                                    <div class="control input-group-prepend">
                                        <button class="button quantity-btn is-small is-info decrement-qty"
                                            data-item_id="{{ item_id }}" id="decrement-qty_{{ item_id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" transform: ;msFilter:;">
                                                <path d="M5 11h14v2H5z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="control">
                                        <input class="input qty_input is-small" type="number" name="quantity"
                                            value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item_id }}"
                                            id="id_qty_{{ item_id }}">
                                    </div>
                                    <div class="control input-group-append">
                                        <button class="button quantity-btn is-small is-info increment-qty"
                                            data-item_id="{{ item_id }}" id="increment-qty_{{ item_id }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                viewBox="0 0 24 24" transform: ;msFilter:;">
                                                <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link mt-2">update</a>
                            <a class="remove-item pl-2" id="remove_{{ item_id }}">remove</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}



        </div>
        <div class="column is-4">
            <div class="cart-total">
                <h2 class="subtitle is-size-3 is-size-4-mobile">Cart total</h2>
                <div>
                    <p class="is-size-6-mobile is-size-5"><strong>Total:</strong> €{{ total|floatformat:2 }}</p>
                    <p class="is-size-6-mobile is-size-5"><strong>Delivery:</strong> €{{ delivery|floatformat:2 }}
                    </p>
                    <p class="is-size-6-mobile is-size-5"><strong>Order Total:</strong>
                        €{{ grand_total|floatformat:2 }}</p>
                </div>

                <div class="pt-4">
                    <a class="button is-link is-outlined mt-3 is-fullwidth" href="{% url 'home' %}">continue
                        shopping</a>
                    <a class="button is-link mt-3 is-fullwidth" href="{% url 'checkout' %}">checkout</a>
                </div>
                {% else %}
                <p class="is-size-5">Your cart is empty...</p>
                <a class="button shopping-btn is-link is-outlined mt-4" href="{% url 'home' %}">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" transform:
                            ;msFilter:;">
                            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                        </svg>
                    </span>
                    <span>
                        Continue Shopping
                    </span>
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</section>



{{ block.super }}
<script>
    // update item in cart
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // remove item in cart
    $('.remove-item').click(function (e) {
        console.log('hello1')
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `remove/${itemId}`;
        var data = { 'csrfmiddlewaretoken': csrfToken }
        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>


{% include 'includes/quantity_input_script.html' %}


{% endblock content %}
