:root {
    --hero-color: #3ac6d9;
    --has-text-white: hsl(0, 0%, 100%);
    --has-text-white-ter: hsl(0, 0%, 96%);
    --body-gray: rgb(248, 248, 248);
    --red: #dc3545;
}

/* ----------------------------------------- */
/* main css */
/* ----------------------------------------- */

div .columns {
    grid-column: 2/4;
    /* fixes the BUG in Bulma that adds extra margin to the right */
    margin: 0 !important;
}

.wrapper {
    min-height: 100vh;
    min-height: calc(100vh - 236px);
    /* footer + nav
    /* background-color: blueviolet; */
}


.section-title {
    grid-column: 1/-1;
    /* background-color: #3ac6d9; */
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 200ch) 1fr;
}

.sub-grid {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 200ch) 1fr;
}

.hero {
    grid-column: 1/-1;
    /* grid-row: 1; */
}

/* ----------------------------------------- */
/* placement of areas in the main grid */
/* ----------------------------------------- */
section,
.sub-grid * {
    grid-column: 2;

}


.hero-container {
    background-color: blueviolet;
    padding: 1em;
    height: 100px;
    grid-column: 1/-1;
}

.banner {
    grid-column: 1/-1;
}



.genre-navbar {
    grid-column: 2/-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    /* background-color: #485fc7; */
}

.genre-navbar .dropdown .button {
    background-color: transparent;
    border: none;
}

.books-section {
    grid-template-rows: 2;
    margin: auto;
    /* background-color: #dc3545; */
}



/* ----------------------------------------- */
/* nav area css */
/* ----------------------------------------- */
.navbar-end {
    /* background-color: #f7c7cb; */
    /* margin-top: 0 !important; */
    /* padding-top: 0 !; */

}


.menu-btn {
    /* margin: .4rem; */
    /* background-color: #3ac6d9 !important; */
    width: 100%;
}

.buttons {
    /* background-color: #c9e8ec; */
    margin-left: auto;
}



.buttons .button {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.button {
    width: 100%;
}

.button-pl {
    margin: .4rem .4rem .4rem 0;

}



.book-counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    top: -8px;
    left: -20px;
    color: var(--has-text-white);
    background-color: var(--red);
    border-radius: 50%;
    font-size: .8rem;
}


.nav-btn {
    border: 0;
    width: 100%;
    margin: auto;
}

.nav-btn:focus {
    border: 0;
    outline: 0;
}

.nav-btn:active {
    border: 0;
    outline: 0;
}

.nav-btn span {
    display: flex;
    align-items: center;
}


#cart {
    display: flex;
    /* position: sticky; */
    /* background-color: var(--hero-color) !important; */
    width: max-content;
    right: 1em;
    margin-left: auto;
}

/* -------------------------------------- */
/* cart-toast dropdown */
/* -------------------------------------- */

.cart-dropdown-svg,
#cart svg {
    fill: var(--has-text-white-ter);
}

.cart-dropdown-svg {
    width: 24px;
    height: 24px;
}

.cart-svg-container {
    position: relative;

}


.cart-toast {
    box-shadow: 0 .4em .4em rgba(56, 56, 56, 0.171)
}

/* cart dropdown  */
.cart-toast-item-container {
    background-color: rgb(255, 255, 255);
    max-height: 400px;
    /* width: 200px; */
    overflow-y: scroll;
}

.cart-book-container {
    display: flex;
}

.cart-book-cover {
    height: 100px;
    border-radius: .25rem;
}



.cart-book-text {
    padding-left: 1em;
    height: 100px;
}



/* -------------------------------------- */
/* search bar */
/* -------------------------------------- */



/* ----------------------------------------- */
/* card css */
/* ----------------------------------------- */
.card-content {
    padding: 1.5rem 0;
}

.index-card {
    max-width: 360px;
    border-radius: 0;
    box-shadow: none;
    margin: auto;
    /* background-color: rgb(211, 247, 247); */
    padding: 2em 0 0 0;
    margin: 1em 0;
}


.card-text {
    padding: 0 2rem;
}

.title-ellipsis,
.author-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.title-ellipsis {
    -webkit-line-clamp: 2;
    height: 46px;
}

.author-ellipsis {
    -webkit-line-clamp: 1;
}


.hero-color {
    color: aliceblue;
    background-color: #3ac6d9;
}

.hero * {
    color: whitesmoke;
}


.banner {
    background-color: rgb(51, 54, 51);
    /* width: 100%; */
    /* grid-column: 2/3; */
    padding: 1em;
    font-weight: 400;
    text-align: center;
    /* margin: 0 2em 1em 2em; */
}

#cart-container {
    position: sticky;
    width: max-content;
    bottom: 2rem;
    width: 100%;
}


.columns {
    padding: 1em;
    width: 100%;
}

.hero-content {
    margin: auto;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: coral;
}

.cover-index-link {
    height: 200px;
    background-color: #3ac6d9;
    margin: auto;
}



.cover-img {
    object-fit: contain;
    height: 200px;
}

.detail-cover {
    max-width: 300px;
    margin: auto;
}





/* ------------------------------- */
/* forms */
/* ------------------------------- */

/* button decrement-qty/increment-qty svg color */


.btn-svg-white {
    fill: #fefefb;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.shopping-btn svg {
    left: -20px;
    fill: #485fc7;
}

.shopping-btn:hover svg {
    fill: #fefefb;
}




/* placeholder text for every form */
::placeholder {
    color: #a3abb3 !important;
}



#id_country {
    width: 100% !important;
}

/* ----------------------------------------------------- */
/* order & profile order history cart */
/* ----------------------------------------------------- */
.order-card {
    display: flex;

    margin: 1em 0;
}


.cover-small {
    width: 90px;
}

.cover-medium {
    width: 120px;
}

.image-cover-index {
    margin: auto;
    display: flex;
}

.order-card-text {
    padding-left: 1em;
}



footer {
    height: 180px;
}

.cart-toast {
    box-shadow: 0 .4em .4em rgba(56, 56, 56, 0.171)
}


.cart_toast-container,
.toast-container {
    position: fixed;
    padding: 1em;
    right: 0;
    z-index: 100;
    width: 100%;
}

.cart_toast-container {
    top: 0;
}

.toast-container {
    top: 3rem;
}

.toast {
    display: block;
    margin-left: auto;
}

.notification.visibility,
.cart_toast-container.visibility,
.toast-container.visibility {
    display: none;
}

.cart-toast-item-container {
    background-color: rgb(255, 255, 255);
    max-height: 400px;
    overflow-y: scroll;
}



.message-body {
    display: flex;
    align-items: flex-end;
}

.message-body svg {
    fill: rgba(0, 0, 0, 0.397);
    height: 64px;
}

.orders-column-books {
    max-height: 520px;
    /* width: 200px; */
    overflow-y: scroll;
    /* background-color: #3ac6d9; */
}




@media only screen and (min-width: 480px) {


    .buttons .button {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }

    .button {
        width: max-content;
    }



}

@media only screen and (min-width: 668px) {


    .books-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        width: 90vw;

        /* background-color: #7281c5; */

    }


    .index-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 220px;
        height: 420px;
        margin: auto;
    }


    .card-text {
        padding: 0;
    }


    .cart_toast-container,
    .toast-container {
        width: clamp(200px, 60%, 500px);
    }

}




/* bulma's tablet: from 769px */
@media only screen and (min-width: 769px) {
    #cart {
        display: none;
    }

    .order-history-container {
        padding-left: 2vw;
    }



}

@media only screen and (min-width: 960px) {

    /* .reverse-columns {
        display: block;
    } */


}

/* bulma's desktop: from 1024px */
@media only screen and (min-width: 1024px) {



    .orders-column {
        padding-left: 6vw;

        /* width: 55%; */
    }




    .reverse-columns {
        flex-direction: row-reverse;

    }

}





@media only screen and (min-width: 1068px) {

    .books-section {
        grid-template-rows: 2;
        width: 95%;
        grid-template-columns: repeat(4, 1fr);
        /* background-color: #dc3545; */
    }

}



/* bulma's widescreen: from 1216px */
@media only screen and (min-width: 1216px) {}


/* -------------------------------------------------------- */
/* Bulma mobile first breakpoints */
/* tablet: from 769px */
@media only screen and (min-width: 769px) {}

/* desktop: from 1024px */
@media only screen and (min-width: 1024px) {}

/* widescreen: from 1216px */
@media only screen and (min-width: 1216px) {}

/* fullhd: from 1408px */
@media only screen and (min-width: 1408px) {}