:root {
    --hero-color: #007a8e;
    --cart-button-blue: #485fc7;
    --primary-color: #485fc7;
    --primary-color-focus: #475dc2;
    --primary-color-hover: #3a52bd;
    --banner-color: #333633;
    --has-text-white: hsl(0, 0%, 100%);
    --has-text-white-ter: hsl(0, 0%, 96%);
    --body-gray: rgb(248, 248, 248);

    --red: #dc3545;
    --danger: #f65269;
    --dark-svg: #4a4a4a;
    --light-svg: var(--has-text-white-ter);
}

/* ----------------------------------------- */
/* main css */
/* ----------------------------------------- */
a[disabled] {
    pointer-events: none;
    cursor: not-allowed;
}

.dark-svg {
    fill: var(--dark-svg);
}

.light-svg {
    fill: var(--light-svg);
}

.flex {
    display: flex;
    align-items: center;
}

div .columns {
    grid-column: 2/4;
    margin: 0 !important;
}

.wrapper {
    min-height: 100vh;
    min-height: calc(100vh - 236px);
}

.section-title {
    grid-column: 1/-1;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 200ch) 1fr;
}

.sub-grid {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 146ch) 1fr;
}

.hero {
    grid-column: 1/-1;
}

/* ----------------------------------------- */
/* placement of areas in the main grid */
/* ----------------------------------------- */
section,
.sub-grid * {
    grid-column: 2;
}

.hero-container {
    padding: 1em;
    height: 100px;
    grid-column: 1/-1;
}

.banner {
    grid-column: 1/-1;
}

.banner * {
    font-size: 1rem;
}

.genre-navbar {
    grid-column: 2/-2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.genre-navbar .dropdown .button {
    background-color: transparent;
    border: none;
}

.books-section {
    margin: auto;
}

#nav-search-form {
    border-radius: 4px 0 0 4px !important;
}

/* ----------------------------------------- */
/* nav area css */
/* ----------------------------------------- */
.menu-btn {
    width: 100%;
}

.buttons {
    margin-left: auto;
}

.buttons .button {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.button {
    width: 100%;
    transition: 160ms !important;
}

.button-pl {
    margin: .4rem .4rem .4rem 0;
}

.book-counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    top: -8px;
    left: -20px;
    color: var(--has-text-white);
    background-color: var(--red);
    border-radius: 50%;
    font-size: .8rem;
}

.nav-btn {
    border: 0;
    margin: auto;
    width: 100% !important;
}

.nav-btn:hover {
    fill: var(--cart-button-blue);
    color: var(--cart-button-blue);
}

.nav-btn:focus {
    border: 0;
    outline: 0;
}

.nav-btn:active {
    border: 0;
    outline: 0;
}

.nav-btn span {
    display: flex;
    align-items: center;
}

#cart {
    display: flex;
    width: max-content;
    right: 1em;
    margin-left: auto;
}

/* ----------------------------------------- */
/* cart-toast dropdown */
/* ----------------------------------------- */
.cart-dropdown-svg,
#cart svg {
    fill: var(--light-svg);
}

.cart-dropdown-svg {
    width: 24px;
    height: 24px;
}

.cart-svg-container {
    position: relative;
}

.cart-toast {
    box-shadow: 0 .4em .4em rgba(56, 56, 56, 0.171)
}

/* cart dropdown  */
.cart-toast-item-container {
    background-color: rgb(255, 255, 255);
    max-height: 400px;
    overflow-y: scroll;
}

.cart-book-container {
    display: flex;
}

.cart-book-cover {
    height: 100px;
    border-radius: .25rem;
}

.cart-book-text {
    padding-left: 1em;
    height: 100px;
}

.empty-book-search {
    max-width: 20ch;
    margin: auto;
}

/* ----------------------------------------- */
/* card css */
/* ----------------------------------------- */
.card-content {
    padding: 1.5rem 0;
}

.index-card {
    max-width: 360px;
    border-radius: 0;
    box-shadow: none;
    margin: auto;
    padding: 2em 0 0 0;
    margin: 1em 0;
}

.card-text {
    padding: 0 2rem;
}

.card-price * {
    color: var(--danger);
}

.card-text-edit-del {
    display: flex;
    align-items: baseline;
}

.title-ellipsis,
.author-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.title-ellipsis {
    -webkit-line-clamp: 2;
    height: 46px;
}

.author-ellipsis {
    -webkit-line-clamp: 1;
}

/* ----------------------------------------- */
/* hero section */
/* ----------------------------------------- */
.hero-content {
    margin: auto;
}

.hero-color {
    color: aliceblue;
    background-color: var(--hero-color);
}

.hero * {
    color: whitesmoke;
}

.hero-button {
    color: var(--hero-color) !important;
}

.hero-button-desktop {
    display: none;
}

.best-seller-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.best-seller-book-image {
    width: 180px;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0px 8px 20px -5px #03373f5e;
}

.banner {
    background-color: var(--banner-color);
    padding: 1em;
    font-weight: 400;
    text-align: center;
}

#cart-container {
    position: sticky;
    width: max-content;
    bottom: 2rem;
    width: 100%;
}

.columns {
    padding: 1em;
    width: 100%;
}

.cover-index-link {
    height: 200px;
    margin: auto;
}

.cover-img {
    object-fit: contain;
    height: 200px;
}

.detail-cover {
    max-width: 200px;
    margin: auto;
}

/* ----------------------------------------- */
/* forms */
/* ----------------------------------------- */
/* button decrement-qty/increment-qty svg color */
.btn-svg-white {
    fill: #fefefb;
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.shopping-btn svg {
    left: -20px;
    fill: #485fc7;
}

.shopping-btn:hover svg {
    fill: #fefefb;
}

/* placeholder text for every form */
::placeholder {
    color: #a3abb3 !important;
}

#id_country {
    width: 100% !important;
}

/* ----------------------------------------- */
/* order & profile order history cart */
/* ----------------------------------------- */
.order-card {
    display: flex;
    margin: 1em 0;
}

.cover-small {
    width: 90px;
}

.cover-medium {
    width: 120px;
}

.image-cover-index {
    margin: auto;
    display: flex;
}

.order-card-text {
    padding-left: 1em;
}

.newsletter-section {
    padding-bottom: .5em;
}

.newsletter-form {
    max-width: 740px;
    margin: auto;
}

footer .footer {
    height: 180px;
}

footer {
    padding-top: 2em !important;
}


.footer-logos {
    margin: 1rem;
    margin-bottom: 0;
    height: 36px;
    transition: 100ms;
}

.footer-logos:hover {
    filter: opacity(.7)
}

.cart-toast {
    box-shadow: 0 .4em .4em rgba(56, 56, 56, 0.171)
}

.cart_toast-container,
.toast-container {
    position: fixed;
    padding: 1em;
    right: 0;
    z-index: 100;
    width: 100%;
}

.cart_toast-container {
    top: 0;
}

.toast-container {
    top: 3rem;
}

.toast {
    display: block;
    margin-left: auto;
}

.notification.visibility,
.cart_toast-container.visibility,
.toast-container.visibility {
    display: none;
}

.cart-toast-item-container {
    background-color: rgb(255, 255, 255);
    max-height: 400px;
    overflow-y: scroll;
}

.message-body {
    display: flex;
    align-items: flex-end;
}

.message-body svg {
    fill: rgba(0, 0, 0, 0.397);
    height: 64px;
}

.orders-column-books {
    max-height: 520px;
    overflow-y: scroll;
}

@media only screen and (min-width: 480px) {
    .best-seller-book-image {
        margin-top: 0;
        width: 200px;
        height: 100%;
    }

    .buttons .button {
        margin-left: .5rem !important;
        margin-right: .5rem !important;
    }

    .button {
        width: max-content;
    }
}

@media only screen and (min-width: 668px) {
    .books-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2em;
        width: 90vw;
    }

    .index-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 220px;
        height: 420px;
        margin: auto;
    }

    .card-text {
        padding: 0;
    }

    .cart_toast-container,
    .toast-container {
        width: clamp(200px, 60%, 500px);
    }
}

/* bulma's tablet: from 769px */
@media only screen and (min-width: 769px) {
    .banner * {
        font-size: 1.2rem;
    }

    #cart {
        display: none;
    }

    .order-history-container {
        padding-left: 2vw;
    }

    .best-seller-book-image {
        margin-top: 0;
        width: 240px;
        height: 100%;
    }

    .hero-button-mobile {
        display: none;
    }

    .hero-button-desktop {
        display: block;
    }

    .hero-text-area {
        margin-top: 5em;
    }

    .hero-text-area h1 {
        font-size: 2.6rem;
    }

    .best-seller-book-container {
        justify-content: end;

    }

    .detail-cover {
        max-width: 300px;
    }
}

/* bulma's desktop: from 1024px */
@media only screen and (min-width: 1024px) {

    /* ----------------------------------------- */
    /* search bar */
    /* ----------------------------------------- */
    .search-bar-container {
        width: 44%;
    }

    .search-bar-container form {
        width: 100%;
    }

    .orders-column {
        padding-left: 6vw;
    }

    .reverse-columns {
        flex-direction: row-reverse;
    }
}

@media only screen and (min-width: 1068px) {
    .books-section {
        width: 95%;
        grid-template-columns: repeat(4, 1fr);
    }
}