.cart-grid section {
    grid-column: 1/4;
    background-color: rgb(232, 251, 252);
}

.cover-small {
    height: 200px;
}

.cart-cover-container {
    display: flex;
    justify-content: center;
}

.cart-text-container {
    grid-column: 2;
    padding: 0;
    width: 260px;
    margin: auto;
}

.cart-contents-info {
    width: 50%;
    padding-top: 1rem;
    margin: auto;
    margin-top: 0;
}

.cart-contents-info button {
    fill: aliceblue;
}

.cart-total {
    grid-column: 1/4;
    /* background-color: rgb(255, 242, 210); */
    width: 100%;
}

@media only screen and (min-width: 568px) {
    .cart-contents {
        display: flex;
        align-items: flex-start;
        /* justify-content: flex-start; */
    }

    .cart-contents-info {
        padding-top: 0;
    }
}



@media only screen and (min-width: 668px) {
    .cart-grid section {
        grid-column: 1/3;
    }

    .cart-total {
        grid-column: 3/4;
    }
}


/* mobile */
@media only screen and (min-width: 769px) {
    .cart-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .reverse-columns-cart {
        display: flex;
        flex-direction: row-reverse;
    }
}

/* tablet */
@media only screen and (min-width: 1024px) {
    .cart-text-container {
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}