:root {
    --primary: rgb(167, 1, 111);
    --nav-bg: rgb(250, 250, 250);

    --white: rgb(250, 250, 250);
    --light-gray: rgb(250, 250, 250);
    --gray: rgb(232, 232, 232);
    --muted: rgb(90, 90, 90);
    --gray-black: rgb(41, 41, 41);
    --black: rgb(15, 15, 15);
    --hero-btn-color: #324542;
    --btn-color: rgb(28, 129, 245);
    --btn-focus-color: rgba(28, 129, 245, 0.603);
}

form {
    display: block;
}

fieldset {
    border: 0 none;
}

legend {
    padding: 1rem 0;
}

input {
    font-size: 1rem;
    padding: 1rem 1.8rem;
    margin-bottom: 1em;
    background-color: var(--light-gray);
    border: 1px solid var(--hero-btn-color);
    border-radius: 3em;
    width: 100%;
}



/* stripe */

/* .StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
} */