/* google font - Work Sans  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,700;1,400&display=swap');

/* ----------------------------------------- */
/* basic css */
/* ----------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: rgb(250, 250, 250);
    --black: rgb(15, 15, 15);
    --gray-black: rgb(41, 41, 41);
    --primary: rgb(106, 23, 184);
}

body {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;

}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;

}

h3 {
    font-size: 1.4rem;
}

p {
    /* font-size: 1.2rem; */
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(160px, 200ch) 1fr;
}

.container-center {
    grid-area: auto/2/auto;
}

.container {
    padding: 2em;
}

/* navbar */
.nav-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    color: var(--white);
}

.navbar,
.footer {
    display: grid;
    grid-template-columns: 1fr minmax(160px, 200ch) 1fr;
    grid-column: 1/4;
    background-color: var(--primary);

}

.nav-content {
    grid-area: auto/2/auto;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
}

.hero {
    background-color: rgb(179, 223, 213);
}

.btn {
    display: inline-block;
    color: white;
    background-color: rgb(38, 0, 206);
    text-decoration: none;
    font-weight: 500;
    padding: .8rem 1rem;
    border-radius: 4px;
    margin-top: 1em;
    transition: 80ms;
}

.btn:hover {
    filter: saturate(.6)
}