/* google font - Work Sans  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,700;1,400&display=swap');

/* ----------------------------------------- */
/* basic css */
/* ----------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: rgb(250, 250, 250);
    --black: rgb(15, 15, 15);
    --gray-black: rgb(41, 41, 41);
    --primary: rgb(0, 133, 172);
}

body {
    color: var(--black);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.2rem;

}

.text-center {
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    /* color: var(--primary); */
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

h3 {
    font-size: 1.4rem;
}



.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(160px, 200ch) 1fr;
}

.container-center {
    grid-area: auto/2/auto;
}

.container {
    padding: 2em;
}

/* ----------------------------------------- */
/* padding */
/* ----------------------------------------- */
.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-6 {
    margin-bottom: 6rem;
}


/* ----------------------------------------- */
/* nav */
/* ----------------------------------------- */
.nav-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    color: var(--white);
}

.navbar,
.footer {
    display: grid;
    grid-template-columns: 1fr minmax(160px, 200ch) 1fr;
    grid-column: 1/4;
    background-color: var(--primary);

}

.nav-content {
    grid-area: auto/2/auto;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
}

.height-100 {
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ----------------------------------------- */
/*  hero section */
/* ----------------------------------------- */
.hero {
    position: relative;
    color: aliceblue;
    height: 400px;
}

.hero-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 400px;
    filter: brightness(.7);
    z-index: -10;
}

.hero-text p {
    max-width: 30em;
    /* background-color: aqua; */
}

.btn {
    display: inline-block;
    color: white;
    background-color: rgb(206, 0, 96);
    text-decoration: none;
    font-weight: 500;
    padding: .8rem 1rem;
    border-radius: 4px;
    transition: 80ms;
    width: 100%;
}

.btn:hover {
    filter: saturate(.6)
}


.cover {
    height: 300px;
    border-radius: 4px;
    /* padding: 1em; */
    margin-bottom: 1em;
}

.stock {
    color: rgb(218, 0, 0);
    font-weight: 600;
}

/* @media only screen and (min-width: 43em) {} */
/* @media only screen and (min-width: 62em) {} */
/* @media only screen and (min-width: 82em) {} */



@media only screen and (min-width: 43em) {

    .btn {
        width: max-content;
    }
}

@media only screen and (min-width: 62em) {
    h1 {
        font-size: 3.4rem;
    }
}