:root {
    --hero-color: #007a8e;
    --cart-button-blue: #485fc7;
    --primary-color: #485fc7;
    --primary-color-focus: #455dc4;
    --primary-color-hover: #3a52bd;
    --banner-color: #333633;
    --has-text-white: hsl(0, 0%, 100%);
    --has-text-white-ter: hsl(0, 0%, 96%);
    --body-gray: rgb(248, 248, 248);

    --red: #dc3545;
    --danger: #f65269;
    --dark-svg: #4a4a4a;
    --light-svg: var(--has-text-white-ter);
}

/* ----------------------------------------- */
/* extra css to style the newsletter form by mailchimp */
/* ----------------------------------------- */
#mc_embed_signup form {
    display: block;
    width: auto;
}


#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    max-width: 640px;
    margin: auto;
}

#mc_embed_signup input {
    font-size: 1.25rem;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: .5em !important;
    width: 100% !important;
}





#mc_embed_signup input:focus {
    /* border: -1px solid #485fc7; */
    outline: 2px #d1d7f1 solid;
    border: none;
}

#mc-embedded-subscribe {
    margin: 0;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 1px solid #f14668;
    outline: 2px #fbd1d9 solid;
}

#mc_embed_signup div#mce-responses {
    margin: 0;
    padding: 0;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    background: transparent;
}

#mc_embed_signup #mce-success-response {
    color: #3e8ed0;
}

#mc_embed_signup .helper_text {
    background: transparent;
}

#mc_embed_signup div.response {
    margin: 0;
    padding: 0 0 1em 0;
}

#mc_embed_signup .button {
    font-size: 1.25rem;
    padding: .4em 2em !important;
    height: max-content;
}


/* .newsletter-button {
    color: var(--has-text-white);
    background-color: var(--primary-color);
} */

/* .newsletter-button:hover {
    background-color: var(--primary-color-hover);
} */


#mc_embed_signup .mc-field-group {
    width: 100%;
}

#mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
}

#mc-embedded-subscribe {
    width: max-content;
}




#mc_embed_signup input[type=submit] {
    background-color: var(--primary-color);

}

#mc_embed_signup input[type=submit]:hover {
    background-color: var(--primary-color-hover) !important;
}

#mc_embed_signup input[type=submit]:focus {
    background-color: var(--primary-color-hover) !important;
}

@media only screen and (min-width: 469px) {


    #mc_embed_signup input[type=submit] {
        /* width: -moz-fit-content; */
        /* width: 100% !important; */
        width: max-content !important;
        padding-left: 2em !important;
        padding-right: 2em !important;

    }

}