:root {
    --hero-color: #3ac6d9;
    --has-text-white: hsl(0, 0%, 100%);
    --has-text-white-ter: hsl(0, 0%, 96%);
    --body-gray: rgb(248, 248, 248);
    --red: #dc3545;
}

form {
    display: block;
    z-index: 700;
}

input {
    font-weight: 400;
}

::placeholder {
    color: #aab7c4 !important;
}

.InputElement {
    padding-bottom: 2em !important;

}

.container {
    grid-column: 1/-1;
    /* background-color: rgb(127, 193, 255); */
    margin-top: 6vh;
    /* max-width: 600px; */
}

.button {
    width: 100%;
}

.button-pl {
    margin: .4rem .4rem .4rem 0;
}

.order-history {
    display: flex;
}

@media only screen and (min-width: 380px) {
    .container {
        /* background-color: rgb(26, 97, 163); */
        /* max-width: 600px; */
        width: clamp(100px, 90vw, 700px);
    }
}

@media only screen and (min-width: 480px) {
    .button {
        width: max-content;
    }
}