:root {
    --primary: rgb(167, 1, 111);
    --nav-bg: rgb(250, 250, 250);

    --white: rgb(250, 250, 250);
    --light-gray: rgb(250, 250, 250);
    --gray: rgb(232, 232, 232);
    --muted: rgb(71, 71, 71);
    --gray-black: rgb(41, 41, 41);
    --black: rgb(15, 15, 15);
    --hero-btn-color: #324542;
    --btn-color: rgb(28, 129, 245);
    --btn-focus-color: rgba(28, 129, 245, 0.603);
}


/* ----------------------------------------- */
/*  hero section */
/* ----------------------------------------- */
.hero {
    position: relative;
    color: aliceblue;
    /* margin: 0 2em; */
    height: 540px;
    background-color: #3ac6d9;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    /* background-color: cadetblue; */
}

.hero-text {
    z-index: 2;
    /* background-color: aquamarine; */
}

.hero-text p {
    max-width: 30em;

    /* background-color: aqua; */
}

.hero a {
    z-index: 2;
}

.mobile-banner {
    background-color: var(--hero-btn-color);
    /* width: 100%; */
    /* grid-column: 2/3; */
    font-weight: 400;
    margin: 0 2em 1em 2em;
    border-radius: 3em;
}

.desktop-banner {
    display: none;
}


.book-title-medium {
    display: none;
}

.book-title-small {
    font-size: 1.2rem;
    font-weight: 500;
    /* text-align: center; */
    margin-bottom: 1em;
    max-width: 400px;
    /* background-color: aqua; */
}

.sub-title {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(139, 155, 245); */
    max-width: 200px;
    margin: auto;

}

.card-text h4 {
    margin-top: 1rem;

    padding-bottom: 1rem;
}

.card-text p {
    padding-bottom: .6rem;
}

.cover,
.cover-img {
    height: 240px;
}

.cover {
    margin-bottom: 1rem;
}

.cover-img {
    display: inline-block;
    /* width: 100%; */
    border-radius: 4px;
    margin-bottom: 2rem;
}

.card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-large {
    height: 260px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.cover-small {
    height: 180px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.cart-section {
    grid-template-columns: 2;
    display: inline-block;
    /* background-color: aqua; */
    width: 100vw;
}


@media only screen and (min-width: 43em) {



    .hero {
        /* position: relative; */
        color: aliceblue;
        margin: 0 2em;
        padding: 0;
        height: 400px;
        border-radius: 1.2em;
        /* background-color: #33b9a5; */
    }

    .mobile-banner {
        display: none;
    }

    .desktop-banner {
        display: block;
        background-color: var(--hero-btn-color);
        width: 100%;
        text-align: center;
        /* grid-column: 2/3; */
        font-weight: 400;
        /* margin: 0 2em 1em 2em; */
        padding: 1rem;
        border-radius: 1.2em 1.2em 0 0;

    }


    .cart-text {
        display: block;
    }

    .dropdown {
        display: block;
    }

    .mobile-btn {
        display: none;
    }

    .btn {
        width: max-content;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* justify-content: space-around; */
        /* background-color: aquamarine; */

    }

    .sub-title {
        grid-column: 1/-1;
        text-align: start;
        /* background-color: aqua; */
    }

    .card-flex {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .book-title-small {
        display: none;
    }

    .book-title-medium {
        display: block;
    }

    .card-flex .card-text h4 {
        margin-top: 0;
        font-size: 1.4rem;
        font-weight: 500;
        padding-bottom: 1rem;
        /* background-color: aqua; */
    }

    .card-flex .card-text h5 {
        font-size: 1rem;

        padding-bottom: 1rem;
    }

    .card-flex .card-text {
        padding-left: 1rem;
        /* background-color: rgb(26, 134, 134); */

    }

}

@media only screen and (min-width: 58em) {
    h1 {
        font-size: 3.4rem;
    }

    .gutter-1 {
        margin: 1em 0 1em 0;
    }

    .gutter-2 {
        margin: 2em 0 2em 0;
    }

    .gutter-3 {
        margin: 3em 0 3em 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* justify-content: space-around; */
        /* background-color: aquamarine; */
    }


    .primary-search-form {
        display: block;
    }

    .secondary-navbar {
        display: none;
    }

    .banner {
        display: block;
        font-size: 1.6rem;
        font-weight: 200;
        margin-left: 5em;
    }

    .brand-container {
        display: flex;
        align-items: center;
    }






    .hero {
        position: relative;
        color: aliceblue;
        margin: 0 2em;
        height: 500px;
        border-radius: 1.2em;
    }






    form {
        width: 60%;
    }

}

/* @media only screen and (min-width: 82em) {} */


/* @media only screen and (min-width: 43em) {} */
/* @media only screen and (min-width: 62em) {} */
/* @media only screen and (min-width: 82em) {} */