:root {
    --white: rgb(250, 250, 250);
    --black: rgb(15, 15, 15);
    --gray-black: rgb(41, 41, 41);
    --primary: rgb(7, 101, 124);
    --secondary: rgb(17, 126, 153);
    --muted: rgb(71, 71, 71);
    --btn-color: rgb(206, 0, 96);
    --btn-focus-color: rgba(240, 6, 76, 0.493);
}


/* ----------------------------------------- */
/* navbar */
/* ----------------------------------------- */
.navbar {
    display: grid;
    grid-template-columns: 1fr minmax(160px, 200ch) 1fr;
    grid-column: 1/4;
    /* height: 64px; */
}

.main-navbar {
    background-color: var(--primary);
}

.secondary-navbar {
    background-color: var(--secondary)
}

.nav-brand {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}

.main-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    color: var(--white);
}

.secondary-nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .4em 2em;
}


.nav-account-area {
    display: flex;
    align-items: center;
}

.mobile-banner {
    grid-area: 3/ 2;
    text-align: center;
    color: var(--white);
    font-weight: 200;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: rgb(52, 53, 53);
}

.banner {
    display: none;
}


/* ----------------------------------------- */
/*  hero section */
/* ----------------------------------------- */
.hero {
    position: relative;
    color: aliceblue;
    height: 400px;
}

.hero-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 400px;
    filter: brightness(.7);
    z-index: 1;
}

.hero-text {
    z-index: 2;
}

.hero-text p {
    max-width: 30em;

    /* background-color: aqua; */
}

.hero a {
    z-index: 2;
}



.book-title-medium {
    display: none;
}

.book-title-small {
    font-size: 1.2rem;
    font-weight: 500;
    /* text-align: center; */
    margin-bottom: 1em;
    max-width: 400px;
    /* background-color: aqua; */
}


.sub-title {
    text-align: center;
}



.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(139, 155, 245); */
    max-width: 200px;
    margin: auto;

}

.card-text h4 {
    margin-top: 1rem;

    padding-bottom: 1rem;
}

.card-text p {
    padding-bottom: .6rem;
}

.cover,
.cover-img {
    height: 240px;
}

.cover {
    margin-bottom: 1rem;
}

.cover-img {
    display: inline-block;
    /* width: 100%; */
    border-radius: 4px;
    margin-bottom: 2rem;

}

.card-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cover-large {
    height: 260px;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.cart-section {
    grid-template-columns: 2;
    display: inline-block;
    /* background-color: aqua; */
    width: 100vw;
}





@media only screen and (min-width: 43em) {

    .btn {
        width: max-content;
    }

    .secondary-nav-content {
        padding: 1em 2em;
    }

    .secondary-nav-content form button {
        padding: .8rem 2rem .8rem 2rem;
        width: max-content;
    }



    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* justify-content: space-around; */
        /* background-color: aquamarine; */

    }

    .sub-title {
        grid-column: 1/-1;
        text-align: start;
        /* background-color: aqua; */
    }

    .card-flex {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }


    .book-title-small {
        display: none;
    }

    .book-title-medium {
        display: block;
    }

    .card-flex .card-text h4 {
        margin-top: 0;
        font-size: 1.4rem;
        font-weight: 500;
        padding-bottom: 1rem;
        /* background-color: aqua; */
    }

    .card-flex .card-text h5 {
        font-size: 1rem;

        padding-bottom: 1rem;
    }

    .card-flex .card-text {
        padding-left: 1rem;
        /* background-color: rgb(26, 134, 134); */

    }




}

@media only screen and (min-width: 62em) {
    h1 {
        font-size: 3.4rem;
    }

    .gutter-1 {
        margin: 1em 0 1em 0;
    }

    .gutter-2 {
        margin: 2em 0 2em 0;
    }

    .gutter-3 {
        margin: 3em 0 3em 0;
    }



    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* justify-content: space-around; */
        /* background-color: aquamarine; */

    }

    .mobile-banner {
        display: none;
    }

    .banner {
        display: block;
        font-size: 1.6rem;
        font-weight: 200;
        margin-left: 5em;
    }

    .brand-container {
        display: flex;
        align-items: center;
    }


    form {
        width: 60%;
    }

}