/* google font - Roboto Sans-serif  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500&display=swap');

/* ----------------------------------------- */
/* basic css */
/* ----------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgb(167, 1, 111);
    --nav-bg: rgb(250, 250, 250);

    --white: rgb(250, 250, 250);
    --light-gray: rgb(250, 250, 250);
    --gray: rgb(232, 232, 232);
    --muted: rgb(71, 71, 71);
    --gray-black: rgb(41, 41, 41);
    --black: rgb(15, 15, 15);

    --hero-btn-color: #324542;
    --btn-color: rgb(28, 129, 245);
    --btn-focus-color: rgba(28, 129, 245, 0.603);
    --secondary-btn-focus-color: #324542af;
}


body,
html,
.btn {
    font-family: 'Roboto', sans-serif;

}

body,
html {
    color: var(--black);
    background-color: var(--light-gray);
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

}

h2,
h3,
h4,
h5 {
    font-weight: 400;
}

h1 {
    font-size: 2.4rem;
    font-weight: 300;
    /* color: var(--primary); */
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: .9rem;
    color: var(--muted);
}

ul li {
    list-style: none;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 190ch) 1fr;
}

.container-center {
    grid-area: auto/2/auto;
}

.container {
    padding: 1rem;
}

/* ----------------------------------------- */
/* gutter margin & padding */
/* ----------------------------------------- */

.gutter-1 {
    margin: .6em 0 .6em 0;
}

.gutter-2 {
    margin: 1em 0 1em 0;
}

.gutter-3 {
    margin: 2em 0 2em 0;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 1.4em;
}

.text-center {
    text-align: center;
}



/* ----------------------------------------- */
/* svg */
/* ----------------------------------------- */
.nav-icon {
    fill: var(--black);
}

/* ----------------------------------------- */
/* navbar */
/* ----------------------------------------- */
.navbar {
    display: grid;
    grid-template-columns: 1fr minmax(160px, 200ch) 1fr;
    grid-column: 1/4;
    /* height: 64px; */
}

.main-navbar,
.secondary-navbar {
    background-color: var(--nav-bg);
}

.main-navbar {
    padding: .2em 0;
}

.main-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    color: var(--white);
}

.cart-text {
    display: none;
}

.primary-search-form {
    display: none;
    max-width: 700px;
    margin: 0 2em;
}

.secondary-navbar {
    display: block;
    margin-bottom: 1em;

}


.search-form-input {
    font-size: 1rem;
    padding: 1rem 1.8rem;
    background-color: var(--gray);
    border: none;
    border-radius: 3em;
    width: 100%;
}




.secondary-nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: .4em 2em;
}

.mobile-banner {
    grid-area: 3/ 2;
    text-align: center;
    color: var(--white);
    font-weight: 200;
    font-size: 1.1rem;
    padding: 1rem;
    background-color: rgb(52, 53, 53);
}

.banner {
    display: none;
}

/* ----------------------------------------- */
/* navbar components */
/* ----------------------------------------- */
.nav-btn-group {
    display: flex;
    align-items: center;
    position: relative;

}

.book-counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    top: 8px;
    left: -6px;
    color: var(--white);
    background-color: rgb(255, 0, 140);
    border-radius: 50%;
    font-size: .8rem;
}

/* ----------------------------------------- */
/* nav-brand, btn & button */
/* ----------------------------------------- */
.btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-brand {
    color: var(--black);
    padding: .8rem 1rem;
    text-decoration: none;
}

.nav-btn {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    border: none;
    padding: .8rem 1rem;
}


.nav-icon-mr {
    margin-right: .6rem;
}

.nav-icon-ml {
    margin-left: .6rem;
}


.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: .8rem 1.8rem;
    border-radius: 3em;
    border: none;
    transition: 80ms;
    width: 100%;
}


.hero-btn {
    color: white;
    background-color: var(--hero-btn-color);

}

.primary-btn {
    color: white;
    background-color: var(--btn-color);
}

.secondary-btn {
    color: var(--hero-btn-color);
    outline: 2px solid var(--hero-btn-color);
    outline-offset: -2px;
}


.cart-price {
    /* color: var(--white); */
    padding-left: 6px;
}



.btn:hover {
    filter: saturate(.7)
}


/* ----------------------------------------- */
/* dropdown button & dropdown menu */
/* ----------------------------------------- */

.dropdown {
    display: none;
}

.dropdown-btn {
    position: relative;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    display: none;
    z-index: 10;
    background-color: var(--white);
    border-radius: 4px;
    /* margin-top: 20px;     */
    /* background-color: aqua; */
}

.dropdown-menu {
    list-style-type: none;
    box-shadow: 0 10px 16px -8px rgba(0, 0, 0, 0.274);
    border-radius: 4px;
}

.dropdown-menu a {
    display: block;
    color: var(--black);
    padding: 1em 2em;
    text-decoration: none;
}

.dropdown-menu a {
    transition: 100ms;
}

.dropdown-menu a:hover {
    text-decoration: none;
    background-color: rgb(202, 212, 209);
}

.dropdown-menu a:hover:nth-child(1) {
    border-radius: 4px 4px 0 0;
}

.dropdown-menu a:hover:nth-child(4) {
    border-radius: 0 0 4px 4px;
}

.js-menu2 a:hover:nth-child(2) {
    border-radius: 0 0 4px 4px;
}

.js-menu.visible {
    display: block;
}

.mobile-btn {
    position: relative;
    display: block;
    display: flex;
    border: none;
    padding: 1em;
    fill: var(--black);
    background-color: transparent;
    /* border: 1px solid black; */
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: var(--black);
    background-color: rgb(238, 238, 238);
    z-index: 30;
}

.mobile-menu.visible {
    display: block;
}

.mobile-btn-close-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 1em;
    width: 100%;
}

.mobile-btn-close {
    fill: var(--black);
    background-color: transparent;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.mobile-menu {
    text-align: center;
    text-decoration: none;
    /* background-color: aquamarine; */
}


.mobile-menu div a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    max-width: 100%;
    color: var(--black);
}


.mobile-menu div a:hover {
    background-color: rgb(216, 216, 216)
}

.fixed-position {
    position: fixed;
    /* background-color: aqua; */
}

form {
    display: flex;
    height: max-content;
    /* height: 3rem; */
    width: 100%;
}


.add-to-cart-form {
    display: block;
}

label {
    font-weight: 500;
}

form .input-group {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}

form button {
    padding: .2rem;
    background-color: transparent;
    border: none;
}

form svg {
    fill: gray;
}


input[type=number] {
    /* background-color: aqua; */
    width: 10ch;
    padding: .4rem;
    /* margin: .8rem 0 .8rem 0; */
    border-radius: 0;
    border: 1px solid gray;
}


/* .nav-brand:focus, */
/* .nav-btn:focus, */
.btn:focus,
input[type=text]:focus,
input[type=number]:focus,
.cover:focus {
    outline: 3px solid var(--btn-focus-color);
}

.secondary-btn:focus {
    /* outline-offset: -2; */
    outline: 4px solid var(--secondary-btn-focus-color);
}

.secondary-nav-content form button {

    padding: .8rem 1rem .8rem 1rem;
    border: none;
    border-radius: 0 4px 4px 0;
    font-size: 1rem;
    font-weight: 500;
    width: 30%;
}

.height-100 {
    height: 100%;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stock-color {
    color: rgb(218, 0, 0);
}