{% extends 'shop_app/base.html' %} {% load static %}
<!-- {% load formsetify %} -->
<!-- {% render_form form "bulma" %} -->

<!-- {% load crispy_forms_tags %} -->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop_app/css/profile.css' %}" />
{% endblock extra_css %} {% block content %}

<section class="section">
  <h2 class="is-size-2">My Profile</h2>
  <p class="is-capitalized">{{ profile }}</p>
  <div>
    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="button">Update Info</button>
    </form>
  </div>

  <div>
    {{ orders }}
  </div>
</section>

{% endblock content %}