{% extends 'shop_app/base.html' %}
{% block title %}- Checkout{% endblock %}

{% load static %}
{% load cart_tools %}
{% comment "" %}
<!-- {% load formsetify %} -->

<!-- {% render_form form "bulma" %} -->
{% endcomment %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'shop_app/css/checkout.css' %}" />
{% endblock extra_css %}



{% block content %}

<section>
    <div class="container is-max-widescreen mt-4">
        <div class="columns">
            <div class="column">
                <h2 class="is-size-2">Checkout</h2>
                <p class="order-summary-text mt-2">Your order summary can be found below</p>
            </div>
        </div>
        <div class="columns is-multiline">




            <div class="column">
                <div class=" cart-section">
                    <div class="cart-items">
                        <form action="{% url 'checkout' %}" method="POST" id='payment-form'>
                            {% csrf_token %}
                            <fieldset class="mt-4">
                                <legend class="subtitle">Details</legend>
                                <div class="field">
                                    <div class="control">
                                        {{ order_form.name | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="field">

                                    <div class="control">
                                        {{ order_form.email | as_crispy_field }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        {{ order_form.phone_number | as_crispy_field }}
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="mt-4">
                                <legend class="subtitle">Delivery</legend>

                                <div class="field">
                                    {{ order_form.street_address1 | as_crispy_field }}
                                </div>
                                <div class="field">
                                    {{ order_form.street_address2 | as_crispy_field }}
                                </div>
                                <div class="field">
                                    {{ order_form.town_or_city | as_crispy_field }}
                                </div>
                                <div class="field">
                                    {{ order_form.county | as_crispy_field }}
                                </div>
                                <div class="field">
                                    {{ order_form.postcode | as_crispy_field }}
                                </div>
                                <div class="field">
                                    {{ order_form.country | as_crispy_field }}
                                </div>
                            </fieldset>

                            <div class="pt-1">
                                {% if user.is_authenticated %}
                                <label for="id-save-info">Save delivery info to profile</label>
                                <input type="checkbox" id="id-save-info" name="'save-info" checked>
                                {% else %}
                                <label for="id-save-info">
                                    <a href="{% url 'account_signup' %}">Create an account</a> or
                                    <a href="{% url 'account_login' %}">Login</a> to save info
                                </label>
                                {% endif %}
                            </div>
                            <fieldset class="mt-4">
                                <legend class="subtitle">Payment</legend>
                                <div id="card-element"></div>
                                <div class="pt-4" id="card-errors" role="alert"></div>
                                <input type="hidden" value="{{ client_secret }}" name="{{ client_secret }}">
                            </fieldset>
                            <a class="button button-pl is-link is-outlined mt-4" href="{% url 'view_cart' %}">Adjust
                                Cart
                            </a>
                            <button id="submit-button" class="button button-pl is-link mt-4">Complete Order</button>

                            <div class="pt-1 flex">
                                <svg class="dark-svg mr-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" transform: ;msFilter:;">
                                    <path
                                        d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z">
                                    </path>
                                </svg>
                                <p>Your card will be charged <strong>€{{ grand_total | floatformat:2 }}</strong></span>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="column is-12-tablet is-6-desktop orders-column">


                <div class="orders-column-books">
                    {% for item in cart_items %}
                    <h3 class="subtitle is-4">Your Order</h3>
                    <div class="order-card">
                        <div class="">
                            {% if item.book.image %}
                            <figure class="cover-figure">
                                <a href="{% url 'book_detail' item.book.id %}">
                                    <img class="cover-small" src="{{ item.book.image.image.url }}"
                                        alt="{{ book.name }}">
                                </a>
                            </figure>
                            {% else %}
                            <figure class="cover-figure">
                                <a href="{% url 'book_detail' item.book.id %}">
                                    <img class="cover-small" src="{{ MEDIA_URL }}no_cover.png" alt="{{ book.name }}">
                                </a>
                            </figure>
                            {% endif %}
                        </div>
                        <div class="order-card-text">
                            <p class=""><strong>{{ item.book }}</strong></p>
                            <p class="">Quaintly: {{ item.quantity }}</p>
                            <p class="card-price">
                                <strong>
                                    €{{ item.book.price | calc_subtotal:item.quantity }}
                                </strong>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <h2 class="subtitle is-size-3 is-size-4-mobile">Order total</h2>
                <div>
                    <p class="is-size-6-mobile is-size-5"><strong>Total:</strong> €{{ total|floatformat:2 }}</p>
                    <p class="is-size-6-mobile is-size-5"><strong>Delivery:</strong> €{{ delivery|floatformat:2 }}
                    </p>
                    <p class="is-size-6-mobile is-size-5"><strong>Order Total:</strong>
                        €{{ grand_total|floatformat:2 }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="loading-overlay">
    <div id="processing-order">
        <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle id="circle-spinner" cx="50" cy="50" r="45" />
        </svg>
        <p class="pl-2">Processing order</p>
    </div>
</div>

{% endblock content %}

{% block postloadjs %}
{{ block.super }}

{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'shop_app/js/stripe_elements.js' %}"></script>
{% endblock postloadjs %}
