<script type="text/javascript">
    $(document).ready(function () {
        // toggle the dropdown menus
        $(".dropdown-btn-account").click(function () {
            $(".dropdown-menu-account").fadeToggle(300);
            $(".dropdown-menu-account").toggleClass("visible");
        });
        $(".dropdown-menu-account").on("mouseleave", function () {
            $(".dropdown-menu-account").fadeOut("300");
        });

        $(".dropdown-btn-genre").click(function () {
            $(".dropdown-menu-genre").fadeToggle(300);
            $(".dropdown-menu-genre").toggleClass("visible");
        });
        $(".dropdown-menu-genre").on("mouseleave", function () {
            $(".dropdown-menu-genre").fadeOut("300");
        });

        $(".dropdown-btn-sort").click(function () {
            $(".dropdown-menu-sort").fadeToggle(300);
            $(".dropdown-menu-sort").toggleClass("visible");
        });
        $(".dropdown-menu-sort").on("mouseleave", function () {
            $(".dropdown-menu-sort").fadeOut("300");
        });

        $(".mobile-btn").click(function () {
            // toggle the mobile dropdown menu
            $(".mobile-menu").fadeToggle(300);
            $(".mobile-menu").toggleClass("visible");

            if ($(".mobile-menu").is(":visible")) {
                $("body").addClass("fixed-position");
            }
        });

        $(".mobile-btn-close").click(function () {
            $(".mobile-menu").fadeToggle(300);
            // prevent body from moving when menu is open
            $("body").removeClass("fixed-position");
        })
        $("a").click(function () {
            $(".mobile-menu").fadeOut(300);
        })

    })
</script>
