/* .cart-grid {
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.cart-grid section {
    grid-column: 1/4;
    background-color: rgb(232, 251, 252);
}

.cover-small {
    height: 200px;
    /* width: 200px; */
}



.cart-text-grid {
    display: grid;
    grid-template-columns: 1fr minmax(0, 40ch) 1fr;
    padding: 0;
}

.cart-text-container {
    grid-column: 2;
    padding: 0;
}

.cart-contents {}

.cart-contents-info {
    width: 50%;
    padding-top: 1rem;
    margin: auto;
    margin-top: 0;
}


.cart-contents .field {
    /* max-width: 200px; */
    /* margin: auto; */
}

.cart-contents-info button {
    fill: aliceblue;
}

button svg {
    fill: aliceblue;
}


.cart-total {
    grid-column: 1/4;
    /* background-color: rgb(255, 242, 210); */
    width: 100%;
}









@media only screen and (min-width: 568px) {
    .cart-contents {
        display: flex;
        align-items: flex-start;
        /* justify-content: flex-start; */
    }

    .cart-contents-info {
        padding-top: 0;
    }




}



@media only screen and (min-width: 668px) {
    .cart-grid section {
        grid-column: 1/3;
        /* background-color: rgb(232, 251, 252); */
    }

    .cart-total {
        grid-column: 3/4;
    }
}


/* mobile */
@media only screen and (min-width: 769px) {
    .cart-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: rgb(17, 182, 182); */
    }


}

/* tablet */
@media only screen and (min-width: 1024px) {
    .cart-text-container {
        grid-column: 1/3;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: rgb(69, 182, 17); */
    }
}

/* widescreen */
@media only screen and (min-width: 1216px) {}

/* fullhd */
@media only screen and (min-width: 1408px) {}