:root {
    --hero-color: #3ac6d9;
    --has-text-white: hsl(0, 0%, 100%);
    --has-text-white-ter: hsl(0, 0%, 96%);
    --body-gray: rgb(248, 248, 248);
    --red: #dc3545;
}

form {
    display: block;
    z-index: 700;
}

input {
    font-weight: 400;
}

/* ::placeholder {
    color: #aab7c4 !important;
} */

/* #payment-form .form-control, */
#card-element {
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    font-size: 1rem;
    font-weight: 200 !important;
    padding: .25rem;
}

#card-element:hover {
    border: 1px solid #b6b6b6;
}

.StripeElement {
    border-radius: 4px !important;
    padding: .6rem !important;

}

.StripeElement--focus {
    margin: 0;
    border: 1px solid #485fc7 !important;
    outline: 2px #d1d7f1 solid;
}

#card-errors {
    display: flex;
    align-items: center;
    color: #dc3545;
}

#card-errors svg {
    margin-right: .4rem;
    fill: #dc3545;
}

sup {
    color: #dc3545;
    color: #aab7c4;
}


/* select #id_country option {
    min-width: 100px !important;
    background-color: #3ac6d9 !important;
    margin: 0;
} */




/* ---------------------------------------- */
/* loading-overlay & spinner */
/* ---------------------------------------- */
#loading-overlay {
    /* grid-column: 1; */
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    /* display: none; */
    background-color: #ffffffaf;
}

#processing-order {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#processing-order svg {
    height: 64px;
    width: 64px;
    fill: #5a5a61;
    z-index: 900;
    animation: 2s linear infinite svg-animation;
}

/* select,
select option {
    color: black;
} */

select:invalid,
select option[value=""] {
    color: rgb(197, 197, 197) !important;
}








/* SVG animation. */
@keyframes svg-animation {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg)
    }
}

/* Circle styles. */
#circle-spinner {
    display: block;
    fill: transparent;
    stroke: #666a6e;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 8px;
    transform-origin: 50% 50%;
    animation: 1.8s ease-in-out infinite both circle-animation;
}

@keyframes circle-animation {

    0%,
    25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
    }

    50%,
    75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
    }

    100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
    }
}