.container {
    grid-column: 1/-1;
    margin-top: 6vh;
}

.button {
    margin: .4rem .4rem .4rem 0;
    width: 100%;
}

@media only screen and (min-width: 380px) {
    .container {
        width: clamp(100px, 90vw, 700px);
    }
}

@media only screen and (min-width: 480px) {
    .button {
        width: max-content;
    }
}